@inherits UmbracoViewPage
@using System.Threading
@{
    var currentLanguage = Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
    var cssRTL = "";
    if (currentLanguage == "he")
    {
        cssRTL = "text-align-rtl";
    }

    var media = Umbraco.MediaAtRoot();
    
    var steps = media.Where(x => x.Name.Equals("Steps")).First();
    
    var step1 = steps.Children.Where(x => x.Name.Equals("Online Menu Step 1")).First();
    var step2 = steps.Children.Where(x => x.Name.Equals("Online Menu Step 2")).First();
    var step3 = steps.Children.Where(x => x.Name.Equals("Online Menu Step 3")).First();
    
    var url = new Uri("https://" + Context.Request.Host.Value + Context.Request.Path);
    var lang = currentLanguage == "en" ? "" : "/" + currentLanguage;
    var port = url.IsDefaultPort ? "" : ":" + url.Port;
    var loginPage = lang +  $"/login?t=1";
    //1178 step 1
    //1179 step 2
    //1177 step 3
}
<style>
    .p-b-35px {
        padding-bottom:35px;
    }
    .p-l-r-35 {
        padding-left: 35px;
        padding-right: 35px;

    }
    .performance .bg-per-left-first {
        background: url(@(step1.Url()));
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .performance .bg-per-right {
        background: url(@(step2.Url()));
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .performance .bg-per-left-third {
        background: url(@(step3.Url()));
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .text-align-rtl {
        text-align:right;
    }
</style>
<section class="performance  @cssRTL">
    <div class="container py-5 white-bg row--shadow--box steps-container">
        <div class="row align-items-center box-main p-0">
            <div class="col-md-12 col-lg-12 col-xl-6 bg-per-left-first ">
                <img src="@(step1.Url())" style="visibility: hidden; width:100% ;height:auto;" />
            </div>
            <div class="col-md-12 col-lg-12 col-xl-6 row justify-content-center">
                <div class="max-w-500 p-15-px">
                    <h2 class="box-head-title my-md-5 Steps--title">@Umbraco.GetDictionaryValue("WecreateyourQRCode-Title")</h2>
                    <h4 class="steps--text">@Umbraco.GetDictionaryValue("WecreateyourQRCode")</h4>
                    <div style="display:flex; align-items:start; padding-top:15px; height:120px">
                        <div class="steps--linl-button  fix-mobile" style="bottom:unset; position: relative;">
                            <a href="@(loginPage)" class='btn btn-link'>@Umbraco.GetDictionaryValue("Sign up to get your code")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex rbox-1">
            <div class="col-md-12 col-lg-12 col-xl-6 order-xl-2 bg-per-right">
                <img src="@(step2.Url())" style="visibility: hidden; width:100% ;height:auto;" />
            </div>
            <div class="col-md-12 col-lg-12 col-xl-6 order-xl-1">
                <div class="row justify-content-md-center">
                    <div class="col-md-11 max-w-500">
                        <h2 class="box-head-title my-md-5 Steps--title">@Umbraco.GetDictionaryValue("DisplaytheQRCode-Title")</h2>
                        <h4 class="steps--text">@Umbraco.GetDictionaryValue("DisplaytheQRCode")</h4>
                        <div style="display:flex; align-items:start; padding-top:15px; height:120px">
                                <div class="steps--linl-button fix-mobile" style="max-width: none;bottom:unset;">
                                    <a href="@(loginPage)" class='btn btn-link'>@Umbraco.GetDictionaryValue("Create your menu")</a>
                                    <strong class="d-none d-sm-none d-md-block d-lg-block"> | </strong>
                                <a href="https://store.mekashron.com/@(currentLanguage)/" class='btn btn-link'>@Umbraco.GetDictionaryValue("Order fancy table easel")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row rbox-2">
            <div class="col-md-12 col-lg-12 col-xl-6 bg-per-left-third">
                <img src="@(step3.Url())" style="visibility: hidden; width:100% ;height:auto;" />
            </div>
            <div class="col-md-12 col-xl-6 col-lg-12">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 max-w-500">
                        <!--pt-5 -->
                        <h2 class="box-head-title my-md-5 Steps--title" style="display:block!important">@Umbraco.GetDictionaryValue("Clientsscanthecode-Title")</h2>
                        <h4 class="steps--text">@Umbraco.GetDictionaryValue("Clientsscanthecode")</h4>
                        <div style="display:flex; align-items:start; padding-top:15px; height:120px">
                            <div class="steps--linl-button "  style="bottom:unset; position: relative;">
                                 <a href="@(loginPage)" class='btn btn-link'>@Umbraco.GetDictionaryValue("Get your QR code")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>