@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using System.Threading
@{
    Layout = "/Views/master.cshtml";

    var langIso = Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
    langIso = langIso.Contains("en") ? "" : $"/{langIso}";

}
@if (Context.Request.Query.TryGetValue("u", out var phone) && Context.Request.Query.TryGetValue("t", out var token))
{
    
    <style>
    .bt-li{
        font-size: 24px;
    }

    @@media (max-width: 475px) {
        .bt-li {
            font-size: 18px;
        }
    }
</style>
    <div class="login-form">
        <h1 class="main-page-header">@Umbraco.GetDictionaryValue("Set a new password")</h1>
        <div style="display: flex; flex-direction: column;">

            <p class="login-page-text">@Umbraco.GetDictionaryValue("New password"):</p>
            <input style="background-color: white" autofocus type="password" id="newpassword" required="required" placeholder="********">
            <p class="error" id="form-valid" style="display: none; margin-top: 5px; color: red"></p>
            <p class="password-must-text">@Umbraco.GetDictionaryValue("Password must be at least 6 characters")</p>
            <div id="change-password" class="button button--accent kd-fadeIn">@Umbraco.GetDictionaryValue("Change")</div>
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function (){
            document.querySelector("#change-password").addEventListener("click", async function(e){
            e.stopImmediatePropagation();
            this.style.pointerEvents = "none";  
            
            let passwordElem = document.querySelector("#newpassword");
            let passwordNotify = document.querySelector(".password-must-text");
            let validElem = document.querySelector("#form-valid");
            
            if (passwordElem.value.length < 6){
                passwordElem.classList.add("error_b");
                this.style.pointerEvents = "initial";
                passwordNotify.style.color = "red";
                return;
            }else{
                passwordNotify.style.color = "initial";
                passwordElem.classList.remove("error_b");
            }
            
            let body = {
                Username : "@Html.Raw(phone.First())",
                Token : "@Html.Raw(token.First())",
                Password : passwordElem.value
            }
            
            let resp = await fetch(`/JoinBusinessApi/ChangePasswordAndLogin`, {
                method : "POST",
                headers  : {
                    'X-Fetch-Indicator': 'true',
                    "Content-Type": "application/json"
                },
                body : JSON.stringify(body)
            })
            let respText = await resp.text();
            if (resp.ok){
                validElem.style.display = "none";
                this.style.backgroundColor = "green";
                this.style.borderColor = "transparent";
                let redirectUrl = resp.headers.get("Location");
                document.querySelector("#change-password").textContent = "@Html.Raw(Umbraco.GetDictionaryValue("Changed"))";
                setTimeout(function () {
                    window.location.href = redirectUrl;
                }, 3000);
            }else{
                this.style.pointerEvents = "initial"; 
                validElem.style.color = "red";
                validElem.textContent = respText; 
                validElem.style.display = "block";
            }
        })
    })
</script>
}
else
{
    Context.Response.Redirect($"{langIso}/");
}