@using Menu4Tech.Helper
@using Menu4Tech.Models
@inherits UmbracoViewPage

@{
    Layout = "/Views/master.cshtml";
    var userSignInData = Cooking.GetCookie<UserSignInData>(Cooking.SignInUserData);
}

<div class="login-form">

    <div style="display: flex; align-items: center; flex-direction: column; gap: 10px">
        <p class="main-page-header" style="margin-left: 0">@Umbraco.GetDictionaryValue("Your phone number:")</p>
        <div class="login-page-password-phone-input-text" style="align-self: flex-start">
            <a href="@(TranslationHelper.OverridePathWithCurrentCulture(Url.Action("Login", "JoinBusiness")))" onclick="RedirectToPhoneInput()">@Umbraco.GetDictionaryValue("Change")</a>
            <p>+@(userSignInData.PhonePrefix)@(userSignInData.Mobile)</p>
        </div>
        <div class="input-group" id="input-line">
            <input required="required" type="password" class="form_input Password personal_input" id="sigin_password" style="color: black; width: 100%;" placeholder="">
            <span class="input-group-text bg-none p-0 span-hide" style="position: absolute; right: 0; height: 100%;">
            <button type="button" class="btn-link border-0 w-100 h-100 px-3 bg-transparent" id="btnShowPassword"
                    onclick="showHidePassword(); ">
                <svg style="width:20px;height:20px; display:none;" viewBox="0 0 24 24" id="imgPasswordShown">
                    <path fill="currentColor" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z"/>
                </svg>
                <svg style="width:20px;height:20px;" viewBox="0 0 24 24" id="imgPasswordHidden">
                    <path fill="currentColor" d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z"/>
                </svg>
            </button>
        </span>
        </div>
        <p class="error-message" style="display: none"></p>
        <p style="align-self: flex-end" class="login-page-forgot-password-wrap" onclick="ForgotPassword()">@Umbraco.GetDictionaryValue("Forgot your password?")</p>
        <button class="button button--accent kd-fadeIn" type="button" id="login" onclick="Login()">@Umbraco.GetDictionaryValue("Login")</button>
    </div>
</div>

<script>
    function RedirectToPhoneInput(){
        deleteCookie("@Html.Raw(Cooking.SignInUserData)");
        deleteCookie("@Html.Raw(Cooking.LastUsedSignInIso)");
    }
    function showHidePassword() {
        let imgPasswordShown = $("#imgPasswordShown");
        let imgPasswordHidden = $("#imgPasswordHidden");
        let inputPassword = $(".Password");

        let isHidden = inputPassword.attr("type") == "password";
        if (isHidden) {
            inputPassword.attr("type", "text");
            imgPasswordShown.show();
            imgPasswordHidden.hide();
        }
        else {
            inputPassword.attr("type", "password");
            imgPasswordShown.hide();
            imgPasswordHidden.show();
        }
    }
    async function Login(){

        let passWordElem = document.querySelector("#sigin_password");
        let errorElem = document.querySelector(".error-message");

        if (passWordElem.value.length == 0) {
            errorElem.style.display = "block";
            passWordElem.classList.add("error");
            errorElem.textContent = "@Html.Raw(Umbraco.GetDictionaryValue("Please specify password"))";
            return;
        }

        passWordElem.classList.remove("error");
        errorElem.style.display = "none";
        
        DisplayLoadingScreen();

        let body = {
            Mobile: "@Html.Raw(userSignInData.Mobile)",
            PhonePrefix: "@Html.Raw(userSignInData.PhonePrefix)",
            Country: "@Html.Raw(userSignInData.Country)",
            password: passWordElem.value
        }

        let resp = await fetch(`@Html.Raw(Url.Action("TryLogin", "JoinBusinessApi"))`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                'X-Fetch-Indicator': 'true'
            },
            body: JSON.stringify(body)
        })

        CloseLoadingScreen();
        
        if (resp.ok){
            window.location.href = resp.headers.get("Location");
        }else{
            errorElem.style.display = "block";
            errorElem.style.color = "red";
            errorElem.textContent = await resp.text();
        }
    }

    async function ForgotPassword(){

        let errorElem = document.querySelector(".error-message");

        errorElem.style.display = "none";

        DisplayLoadingScreen();

        let body = {
            Mobile: "@Html.Raw(userSignInData.Mobile)",
            PhonePrefix: "@Html.Raw(userSignInData.PhonePrefix)",
            Country: "@Html.Raw(userSignInData.Country)"
        }

        let resp = await fetch(`@Html.Raw(Url.Action("ForgotPassword", "JoinBusinessApi"))`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                'X-Fetch-Indicator': 'true'
            },
            body: JSON.stringify(body)
        })

        CloseLoadingScreen();

        if (resp.ok){
            errorElem.style.display = "block";
            errorElem.style.color = "green";
            errorElem.textContent = await resp.text();
        }else{
            errorElem.style.display = "block";
            errorElem.style.color = "red";
            errorElem.textContent = await resp.text();
        }
    }
    
</script>